.navbar {
    @apply bg-dark text-white p-4 shadow-lg sticky top-0 z-50;

    &__container {
        @apply container mx-auto flex justify-between items-center;
    }

    &__brand {
        @apply text-2xl font-bold flex items-center gap-2;
    }

    &__logo {
        @apply h-8 w-8;
    }

    &__links {
        @apply hidden md:flex gap-6;
    }

    &__link {
        @apply hover:text-primary transition-colors;

        &--github {
            @apply bg-primary px-4 py-2 rounded hover:bg-secondary font-bold;
        }
    }
}