.text-primary, .content p code,
.content li code,
.content td code, .content a, .sidebar__item--active, .sidebar__title, .navbar__brand:hover {
  color: #3B82F6;
}

.bg-primary, .navbar__link--github {
  background-color: #3B82F6;
}

.border-primary, .content h1 {
  border-color: #3B82F6;
}

.hover\:bg-primary:hover {
  background-color: #3B82F6;
}

.hover\:text-primary:hover {
  color: #3B82F6;
}

.text-secondary, .content h3 {
  color: #1E40AF;
}

.bg-secondary {
  background-color: #1E40AF;
}

.border-secondary {
  border-color: #1E40AF;
}

.hover\:bg-secondary:hover, .navbar__link--github:hover {
  background-color: #1E40AF;
}

.hover\:text-secondary:hover {
  color: #1E40AF;
}

.text-accent {
  color: #F59E0B;
}

.bg-accent {
  background-color: #F59E0B;
}

.border-accent {
  border-color: #F59E0B;
}

.hover\:bg-accent:hover {
  background-color: #F59E0B;
}

.hover\:text-accent:hover {
  color: #F59E0B;
}

.text-dark, body, .content th, .content h2, .content h1 {
  color: #1E293B;
}

.bg-dark, .footer, .content pre {
  background-color: #1E293B;
}

.border-dark {
  border-color: #1E293B;
}

.hover\:bg-dark:hover {
  background-color: #1E293B;
}

.hover\:text-dark:hover {
  color: #1E293B;
}

.text-light {
  color: #F8FAFC;
}

.bg-light, body {
  background-color: #F8FAFC;
}

.border-light {
  border-color: #F8FAFC;
}

.hover\:bg-light:hover {
  background-color: #F8FAFC;
}

.hover\:text-light:hover {
  color: #F8FAFC;
}

.text-white, .footer, .content pre, .navbar__link--github, .navbar__link:hover, .navbar__brand, .navbar {
  color: #FFFFFF;
}

.bg-white, .content, .sidebar__item--active {
  background-color: #FFFFFF;
}

.border-white {
  border-color: #FFFFFF;
}

.hover\:bg-white:hover, .sidebar__item:hover {
  background-color: #FFFFFF;
}

.hover\:text-white:hover {
  color: #FFFFFF;
}

.text-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.border-black {
  border-color: #000000;
}

.hover\:bg-black:hover {
  background-color: #000000;
}

.hover\:text-black:hover {
  color: #000000;
}

.text-gray, .navbar__link {
  color: #64748B;
}

.bg-gray {
  background-color: #64748B;
}

.border-gray {
  border-color: #64748B;
}

.hover\:bg-gray:hover {
  background-color: #64748B;
}

.hover\:text-gray:hover {
  color: #64748B;
}

.text-danger {
  color: #EF4444;
}

.bg-danger {
  background-color: #EF4444;
}

.border-danger {
  border-color: #EF4444;
}

.hover\:bg-danger:hover {
  background-color: #EF4444;
}

.hover\:text-danger:hover {
  color: #EF4444;
}

.text-success {
  color: #10B981;
}

.bg-success {
  background-color: #10B981;
}

.border-success {
  border-color: #10B981;
}

.hover\:bg-success:hover {
  background-color: #10B981;
}

.hover\:text-success:hover {
  color: #10B981;
}

.p-0 {
  padding: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0, .content p code,
.content li code,
.content td code {
  padding-top: 0px;
  padding-bottom: 0px;
}

.m-0 {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1, .content p code,
.content li code,
.content td code {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.p-2, .sidebar__item {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2, .content h1 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2, .navbar__link--github {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2, .content li {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-4, .content pre, .navbar {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4, .content ul,
.content ol, .content p, .content h2, .sidebar__title {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-6, .doc-layout {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6, .navbar__link--github {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6, .content h3, .doc-layout {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6, .content pre, .content h1 {
  margin-bottom: 1.5rem;
}

.ml-6, .content ul,
.content ol {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-8, .footer, .content {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8, .content h2 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8, .content table {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-12 {
  padding: 3rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-12 {
  padding-left: 3rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-12 {
  margin: 3rem;
}

.mt-12, .footer {
  margin-top: 3rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.ml-12 {
  margin-left: 3rem;
}

.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-auto {
  margin: auto;
}

.mx-auto, .doc-layout, .navbar__container {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm, .footer, .content code, .content td {
  font-size: 0.875rem;
}

.text-base, .content p, .navbar__link {
  font-size: 1rem;
}

.text-lg, .sidebar__title {
  font-size: 1.125rem;
}

.text-xl, .content h3 {
  font-size: 1.25rem;
}

.text-2xl, .content h2, .navbar__brand {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl, .content h1 {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium, .content a, .navbar__link {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold, .content p code,
.content li code,
.content td code, .content th, .content h3, .content h2, .content h1, .sidebar__item--active, .sidebar__title, .navbar__link--github, .navbar__brand {
  font-weight: 700;
}

.font-bolder {
  font-weight: 900;
}

.font-black {
  font-weight: 900;
}

.text-left, .content th {
  text-align: left;
}

.text-center, .footer {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal, body {
  line-height: 1.5;
}

.leading-relaxed, .content p {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}

.container, .doc-layout, .navbar__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.block, .sidebar__item {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex, .navbar__brand, .navbar__container {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden, .sidebar, .navbar__links {
  display: none;
}

.grid {
  display: grid;
}

.box-border {
  box-sizing: border-box;
}

.box-content {
  box-sizing: content-box;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none, .sidebar {
  flex: none;
}

.grow {
  flex-grow: 1;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between, .navbar__container {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center, .navbar__links, .navbar__brand, .navbar__container {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.gap-0 {
  gap: 0px;
}

.gap-x-0 {
  column-gap: 0px;
}

.gap-y-0 {
  row-gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-x-1 {
  column-gap: 0.25rem;
}

.gap-y-1 {
  row-gap: 0.25rem;
}

.gap-2, .navbar__brand {
  gap: 0.5rem;
}

.gap-x-2 {
  column-gap: 0.5rem;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-x-4 {
  column-gap: 1rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-x-6 {
  column-gap: 1.5rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-8, .doc-layout, .navbar__links {
  gap: 2rem;
}

.gap-x-8 {
  column-gap: 2rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-x-12 {
  column-gap: 3rem;
}

.gap-y-12 {
  row-gap: 3rem;
}

.w-full, .content table, .content {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-min {
  width: min-content;
}

.w-max {
  width: max-content;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-0 {
  width: 0px;
}

.w-1 {
  width: 0.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-4 {
  width: 1rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8, .navbar__logo {
  width: 2rem;
}

.w-12 {
  width: 3rem;
}

.h-full {
  height: 100%;
}

.h-screen, .sidebar {
  height: 100vh;
}

.h-min {
  height: min-content;
}

.h-max {
  height: max-content;
}

.h-0 {
  height: 0px;
}

.h-1 {
  height: 0.25rem;
}

.h-2 {
  height: 0.5rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8, .navbar__logo {
  height: 2rem;
}

.h-12 {
  height: 3rem;
}

.min-h-full {
  min-height: 100%;
}

.max-h-full {
  max-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-screen {
  max-height: 100vh;
}

.min-h-min {
  min-height: min-content;
}

.max-h-min {
  max-height: min-content;
}

.min-h-max {
  min-height: max-content;
}

.max-h-max {
  max-height: max-content;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky, .sidebar, .navbar {
  position: sticky;
}

.top-0, .navbar {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.top-0, .navbar {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.top-1 {
  top: 0.25rem;
}

.right-1 {
  right: 0.25rem;
}

.bottom-1 {
  bottom: 0.25rem;
}

.left-1 {
  left: 0.25rem;
}

.top-2 {
  top: 0.5rem;
}

.right-2 {
  right: 0.5rem;
}

.bottom-2 {
  bottom: 0.5rem;
}

.left-2 {
  left: 0.5rem;
}

.top-4 {
  top: 1rem;
}

.right-4 {
  right: 1rem;
}

.bottom-4 {
  bottom: 1rem;
}

.left-4 {
  left: 1rem;
}

.top-6 {
  top: 1.5rem;
}

.right-6 {
  right: 1.5rem;
}

.bottom-6 {
  bottom: 1.5rem;
}

.left-6 {
  left: 1.5rem;
}

.top-8 {
  top: 2rem;
}

.right-8 {
  right: 2rem;
}

.bottom-8 {
  bottom: 2rem;
}

.left-8 {
  left: 2rem;
}

.top-12 {
  top: 3rem;
}

.right-12 {
  right: 3rem;
}

.bottom-12 {
  bottom: 3rem;
}

.left-12 {
  left: 3rem;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50, .navbar {
  z-index: 50;
}

.rounded-none {
  border-radius: 0px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded, .content p code,
.content li code,
.content td code, .sidebar__item {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg, .content pre, .content {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full, .navbar__link--github {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-0 {
  border-width: 0px;
  border-style: solid;
}

.border-2 {
  border-width: 2px;
  border-style: solid;
}

.border-4 {
  border-width: 4px;
  border-style: solid;
}

.border-8 {
  border-width: 8px;
  border-style: solid;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow, .sidebar__item--active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.shadow-md, .content {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-lg, .navbar__link--github, .navbar {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.shadow-none {
  box-shadow: 0 0 #0000;
}

.opacity-0 {
  opacity: 0.0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80, .footer {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1.0;
}

.navbar {
  background-color: rgba(30, 41, 59, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar__brand {
  text-decoration: none;
}

.navbar__link {
  color: #94a3b8;
  text-decoration: none;
}

.navbar__link:hover {
  color: #ffffff;
}

.navbar__link--github {
  transition: all 0.2s ease;
}

.navbar__link--github:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.5);
}

.content p {
  color: #334155;
}

.content ul,
.content ol {
  list-style-type: disc;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content table {
  margin-top: 1rem;
}

.content th {
  background-color: #f1f5f9;
}

.content tr:hover td {
  background-color: #f8fafc;
}

.content pre {
  background-color: #1e293b;
}

.content p code,
.content li code,
.content td code {
  background-color: #f1f5f9;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .md\:flex, .navbar__links, .doc-layout {
    display: flex !important;
  }
  .md\:hidden {
    display: none !important;
  }
  .md\:block, .sidebar {
    display: block !important;
  }
}
