.tp-badge, [ui="badge"] {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $vibe-radius;
    border: $vibe-border;
    color: $vibe-text;
    // Subtle background
    background: rgba(125, 125, 125, 0.1);
}