.tp-radio {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-right: 1rem;

    .tp-radio-input {
        width: 1.25rem;
        height: 1.25rem;
        accent-color: $vibe-text;
    }

    .tp-radio-label {
        color: $vibe-text;
    }
}