.tp-range {
    width: 100%;
    height: 0.5rem;
    background: rgba($vibe-text, 0.2);
    border-radius: $vibe-radius;
    outline: none;
    appearance: none; // Standard
    -webkit-appearance: none; // Webkit

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background: $vibe-text;
        cursor: pointer;
        box-shadow: $vibe-shadow;

        &:hover {
            box-shadow: $vibe-accent-glow;
        }
    }
}